.site-main {
	background: $light;
	padding-top: 40px;
}


.site-content .widget-area {
	width: $size__site-sidebar;
	float: left;
	padding: 2rem;
	padding-top: 40px;
	background:$chrome;
	overflow: hidden;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: 780px;
    padding: 0 2rem;
    margin: 0 auto;
    width:100%;
}
@media screen and (min-width: 1540px) {
    .content-area {
        float: right;
        width: 100%;
        margin-left: (-$size__site-sidebar);
    }
}// min-width: 1540px
@media screen and (min-width: 1160px) and (max-width:1539px) {
	.content-area {
		width: $size__site-main;
		float: right;
		margin-left: (-$size__site-sidebar);
		padding-left: $size__site-sidebar;
	}// .content-area

	.entry-header,
	.entry-content,
	.entry-meta,
	.entry-footer,
	.tag-links,
	.post-navigation,
	.comments-area,
	.paging-navigation {
	    margin-left: 0;
	}
}// min/max-width: 1160px / 1539px

@media screen and (max-width: 1159px) {
	.site-content .content-area {
		width:100%;
	}
	.site-content .widget-area {
		width: auto;
		max-width: 780px;
		float: none;
		overflow: hidden;
		margin: 0 auto;
	}
}// max-width: 1169px
