.single {
    .entry-header {
        max-width: 100%;
    }
    // #primary {
    //     padding-left: 380px;
    // }
    // #secondary {
    //     position: fixed;
    //     top:45px;
    //     left: 0;
    // }
}
body {
	.hentry {
	margin:0 0 2em;
	}
	a:hover {
		text-decoration: none;
	}
}

.page-header,
.paging-navigation {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    list-style-type: none;
    background: #fff;
    text-align: center;
} 
.site-content .widget-area {
	width: $size__site-sidebar;
	float: left;
	padding: 2rem;
	padding-top: 40px;
	background:$chrome;
	overflow: hidden;
}

.site-content {
    padding-bottom: 4em;
    background: #b2b2b2 url(images/pattern.svg) repeat;
    .entry-header {
	padding-top: 40px;
}
}
.single,.page {
	.site-content { 
    background: #fff; 
    background: hsl(0, 0%, 100%);
	}
}


.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.comments-area
{
    position: relative;
    max-width: 780px;
    padding: 0 2rem;
    margin: 0 auto;
    width:100%;
}

//Index Box
.index-box {
    max-width: 780px;
    padding: 0 0 1em;
    margin-bottom: 3em;
    background: #fff;
    background: hsl(0, 0%, 100%);
}

.index-box blockquote.alignleft,
.index-box blockquote.alignright {
    background: #fff;
    background: hsl(0, 0%, 100%);
    border: none;
}

@media screen and (min-width: 1820px) {
    .index-box blockquote.alignright { padding-right: 2em; }
}

@media screen and (min-width: 1320px) {
    .index-box blockquote.alignleft { padding-left: 2em; }
}


	

@media screen and (min-width: 1160px){
    .home, 
    .archive {
        .content-area {
            width: 100%;
            float: right;
            margin-left: -380px;
            padding-left: 380px;
        }
       
    }//  .HOME, .ARCHIVE
    .single-post, .page {
        .content-area {
            padding-left: 0;
            margin-right: 0;
            margin-left: 380px;
            max-width: 100%;
            float: left;
            }
        .site-main {
            
            margin-right: 0;
            max-width: 100%;
            
        }
         #secondary {
            position: fixed;
        }// #secondary
    }// .single-post

}// mw 1160
@media screen and (min-width: 1160px) and (max-width: 1539px) {
    
    
    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation { 
        margin-left: 0; 
    }
    
}

@media screen and (max-width: 1159px) {  
    .index-box {
        margin: 0 auto;
    }
    .site-content .widget-area {
        width: auto;
        max-width: 780px;
        float: none;
        margin: 1em auto 0;
    }
}
