button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $grey;
	border-radius: 3px;
	background: red;
	

	&:hover {
		border-color: $chrome;
		
	}

	&:active,
	&:focus {
		border-color: $chrome;
		outline:none;
		
	}
}