button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: black;
	    transition: all .5s linear;
    display: block;
    
    max-width: 300px;
    color: white;
    padding: .5rem 2rem;
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
	

	&:hover {
		background:white;
		color:black;
		border: 1px solid black;
		
	}

	&:active,
	&:focus {
		
		outline:none;
		
	}
}