#portfolio {
	margin: 0 auto;
	padding-top:5rem;
	padding-bottom: 3rem;
	transition: all .5s ease-in-out;
	.section-title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
	}// .section-title
	.tab {
		margin: 0 auto;
	}
	img {
		transition: all .5s linear;
	}
	.rotate-img {
		transform: scale(1.1,1.1);
	}
	.show {
		opacity: 1;
		transform: scale(1,1);
		display: inline-block;
	}
	#showcases {
	width:100%;
	text-align: center;

	} // #showcases
}// #portfolio
.portfolio {
	display: inline-block;
   width:400px;
   height:250px;
   margin: 1rem 0;
   overflow: hidden;
   	transition: all .5s ease-in-out;
	.entry-content {
	background: rgba(0,0,0,.5);
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	display: none;
	h1 {
		font-weight: 300;
		font-family: 'Lato';
		color:white;
		text-transform: uppercase;
		font-size: 18px;
		margin: .5rem;
	}
	}// entry-content
}
.portfolio_nav {
	text-align: center;
	background: #eee;
	padding: 1rem 0;
	font-size: 25px;
	a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
    	text-decoration: underline;
    }
	}
}
.portfolio-active {
	font-weight: bold;
}