.single-showcases {
	#content {
		padding-top:5rem;
	}
}
#showcase-left, #showcase-right {
	width: 50%;
}
#showcase-left {
	float: left;
}
#showcase-right {
	float: right;
}
.back-to {
	clear: both;
	display: block;
}