.site-header {
	@include backImage('images/lander01.jpg',to bottom, 1, 0);
	text-align: center;

	background-color: #444;
	
}
@media screen and (max-width: 980px) {
	.site-header {
		padding-top: 20px;
	}
}// 980
@media screen and (max-width: 745px) {
	.site-header {
		padding-top: 40px;
	}
} //745

// Sticky Post
.sticky-post {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: red;
}


.site-branding {
	text-align: center;
	display: block;
	@include vertical-align();
}
.title-box {
    width: 75%;
    max-width: 780px;
    padding: 1em;
    margin: 0 auto;
    border: solid 1px rgba(255,255,255, .5);
    background-size: 30px;
    background-color: rgba($light, .15);
}
.site-title a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: 'Lato';
	font-weight: 300;
}
.site-description {
	color: $chrome;
	letter-spacing: 2.5px;
	font-size: 1.25rem;
	margin-bottom:.5em;
}