.site-header {
	@include backImage('images/lander01.jpg',to bottom, .5, .05);
	text-align: center;

}
.site-branding {
	text-align: center;
	display: block;
	@include vertical-align();
}
.title-box {
    width: 75%;
    max-width: 780px;
    padding: 1em;
    margin: 0 auto;
    border: solid 1px rgba(255,255,255, .5);
    background-size: 30px;
    background-color: rgba($light, .15);
}
.site-title a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: 'Lato';
	font-weight: 300;
}
.site-description {
	color: $chrome;
	letter-spacing: 2.5px;
	font-size: 1.25rem;
	margin-bottom:.5em;
}