.site-header {
	@include backImage('images/splash.jpg',to bottom, 1, .5);
	text-align: center;
	background-color: #444;
	background-attachment: fixed;
	
}
@media screen and (max-width: 980px) {
	.site-header {
		padding-top: 20px;
	}
}// 980
@media screen and (max-width: 745px) {
	.site-header {
		padding-top: 40px;
	}
} //745

// Sticky Post
.sticky-post {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: red;
}


.site-branding {
	text-align: center;
	width: 100%;
	display: block;
	top: 35%;
	position: absolute;
	@media screen and (max-width: 745px) {
		top: 25%;
	}

}
.title-box {
    width: 75%;
    max-width: 780px;
    padding: 1em;
    margin: 0 auto;
    
}
.site-title a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 1rem;
	text-transform: uppercase;
	font-size: 2.75rem;
	font-family: 'Lato';
	font-weight: 300;
	@media screen and (max-width: 745px) {
		font-size: 1.5rem;
	}
}
.site-description {
	color: cornsilk;
	letter-spacing: 2.5px;
	font-size: 1.5rem;
	margin-bottom:.5em;
	font-family: 'Source Sans Pro';
	font-weight: 200;
}