.widget {
	margin: 0 0 3.5em 0;
	font-family: 'Lato', sans-serif;
   font-size: 16px;
   color:$darkGray;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	} //select
	a {
		font-weight: 700;
		color: black;
	}// a
	ul, ol {
		padding: 0;
	   margin: -1em 0 0;
	   list-style-type: none;
	}// ul, ol
	li {padding: 1em 0 0;}
	li ul, li ol {margin-top: 0;}// li ul, li ol
	li li {margin-left: 1.5em;}
}// .widget

.widget-title {
	margin-bottom: .5em;
	padding-bottom: .25em;
	font-size: 28px;
	border-bottom: 2px solid $darkGray;
	color:black;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// Footer widgets
.footer-widgets { 
	margin: 0 auto; 
	.widget_nav_menu a,
	.widget_pages a {
	    display: block;
	    padding: 1em 0;
	    border-bottom: solid 1px white;
	    text-decoration: none;
	} //.widget_nav_menu a, .widget_pages a
	
}// .footer-widgets

.footer-widgets .widget-title {
    color: white;
    border-color: white;
    font-size: 20px;
    font-weight: 900;
}

.footer-widgets .widget {
	color:$light;
    float: left;
    width: 200px;
    margin-bottom: 4em;
    margin-left:25px;
    margin-right:25px;
}// .footer-widgets

// Custom Widget Icons
.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before,
.widget_taxonomy_list_widget li:before,
.widget_categories li:before {
    display: block;
    float: left;
    margin-left: -1.5em;
    font-family: 'fontawesome';
    font-size: 14px;
    font-size: 1.4rem;
} 

.widget_recent_entries li,
.widget_recent_comments li { margin: 0 0 .5em 2.5em; }

.widget_recent_entries li:before { content: "\f036"; }

.widget_recent_comments li:before { content: "\f075"; }

.widget_taxonomy_list_widget li:before { content: "\f14a"; }

.widget_archive li, .widget_taxonomy_list_widget li, .widget_categories li { margin: 0 0 0 2.5em; }

.widget_archive li:before { content: "\f187"; }

.widget_categories li:before { content: "\f07b"; }

.widget_nav_menu a,
.widget_pages a {
    display: block;
    padding: 1em 0;
    border-bottom: solid 1px black;
    text-decoration: none;
}

.widget_nav_menu li,
.widget_pages li { padding-top: 0; }

.widget_rss li { margin-bottom: .5em; }

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-size: 85%;
}

/* Footer widgets responsive */
@media screen and (max-width: 879px) {
    #footer-widgets { width: 100%!important; }
    
    .footer-widgets .widget {
        float: none;
        width: 100%;
        margin: 0 0 8rem;
    }
}
