// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin vertical-align() {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

@mixin backImage(
  $image,
  $grDir: to bottom,
  $opStart: 1,
  $opEnd: 1,
  $bgPos: center center
  ) {
  background: linear-gradient(
    $grDir,
    rgba(0,0,0, $opStart),
    rgba(0,0,0, $opEnd)
  ),url($image);
  background-repeat: no-repeat;
  background-position: $bgPos; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}