.main-navigation {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: table;
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    background-color: $darkGray;
    text-align: center;
    z-index: 100;
    transition: all .5s linear;
    border-bottom: solid 1px rgba(255,255,255, .5);
}

.nav-logo {
	text-align: center;
	position: fixed;
	width: 100%;
	top:0;
	height:0;
	opacity: 0;
	transition: all .5s linear;z-index:999;
	h1 a {
		color: $light;
		font-size: 14px;
		font-weight: 300;
		font-family: 'Lato';
		letter-spacing: .75rem;
		margin-top:-16px;
		text-transform: uppercase;
	}
}
.nav-logo-show {
	background: black;
	padding-top:10px;
	opacity: 1;
	height:25px;
}
.main-navigation ul {
    list-style: none;
    display: block;
    float: none;
    margin: 0 auto;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    padding: .75rem 1.25em;
    font-size: 1rem;
	 letter-spacing: .25rem;
    text-decoration: none;
    line-height: 1.3em;
    color: white;
    color: hsl(0, 0%, 100%);
}
.main-navigation ul ul {
    position: absolute;
    left: 0;
    z-index: 99999;
    display: none;
    letter-spacing: none;
    float: left;
    padding: 0;
    background: $charcoal;
}
.main-navigation ul ul ul {
    left: 100%;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {
	letter-spacing: normal;
}
.main-navigation li:hover > a {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: $charcoal;
 }
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
    background: $dark;
   
}
.main-navigation ul li:hover > ul {
    display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    background: white;
    color: $charcoal;
    color: hsl(0, 0%, 19%);
}

.main-navigation .current_page_ancestor {
    background: $darkGray;
    background: hsl(0, 0%, 30%);
}

.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: $charcoal;
    background: hsl(0, 0%, 19%);
} 

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 740px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
	}
}

.comment-navigation,
.posts-navigation {

	.site-main & {
		
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
		padding: 2em;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		padding: 2em;
	}
}//comment,posts,post-navigation

//Responsive Menu
@media screen and (max-width: 980px){
	.main-navigation {
		margin: 0 auto;
	}
	.main-navigation a {
		padding: 1.5rem 1.25rem;
	}

}
@media screen and (max-width: 745px) {
	.main-navigation {text-align: left;background: $darkGray;}
	.nav-logo {
		position: fixed;
		right:0;
		top:0;
		opacity:1;
		height:60px;
		text-align: right;
		width:330px;
		h1 a {
			margin:0;
			font-size: 20px;
			padding:25px 10px;
			padding-left:0;
			color:$light;
			letter-spacing: .5rem;
		}
	}
	.menu-toggle {
            display: block;
            height: 60px;
            width:60px;
            padding: 0 1em;
            margin: .5em;
            background: $dark;
            font-weight: thin;
            font-size: 20px;
            text-decoration: none;
            color: white;
            z-index:1000;
            i {
            	color: $grey;	
            }// i
            &:hover,
         	&:focus {
         		i{color:$chrome;}
         	}//hover/focus
	}//.menu-toggle
        
	.main-navigation.toggled .nav-menu {
		display: block;
		border-top: 1px solid;
		border-top-color: #fff;
		border-top-color: hsla(0, 0%, 100%, .5);
	}

	.main-navigation ul {
            display: none;
            padding-left: 0;

	}
   .main-navigation a {
   	color:$light;
   }
	.main-navigation li { 
		float: none; 
	}

	.main-navigation li a { 
		padding: 1.3em 2em; 
	}

	.main-navigation li li a { 
		padding-left: 4em; 
	}

	.main-navigation li li li a { 
		padding-left: 6em; 
	}

	.main-navigation li:hover > a {
		background: $darkGray;
		font-weight: 400;
	}
	
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;
		display: block;
		float: none;
		background: $charcoal;
	}
	
	.main-navigation ul ul a { width: 100%; }

	.main-navigation ul a:hover,
	.main-navigation ul ul a:hover {
		color: white;

	}

	.main-navigation ul a:hover{
		background: $grey;
	}
		
	.main-navigation ul ul a:hover {
		background: $grey;
		font-weight: 200;
	}

	.main-navigation .current_page_ancestor { background: inherit; }

	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current_page_item > a:hover,
	.main-navigation .current_page_item li:hover,
	.main-navigation .current_page_parent .current_page_item > a  {
		color: #fff;
		color: hsl(0, 0%, 100%);
		background: $darkGray;  
	}
        
} // End responsive menu
