/*--------------------------------------------------------------
Index and Archive
--------------------------------------------------------------*/

.continue-reading {
	display: inline-block;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
    width: 100%;
}

.continue-reading i { margin-left: .5em; }