/*--------------------------------------------------------------
Index and Archive
--------------------------------------------------------------*/
.archive, .single {
	.page-title {
		margin-bottom: 0;
        padding-top: 25px;
	}
    #content {
        padding-top:25px;
    }
}
.continue-reading {
	display: inline-block;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
    width: 100%;
}

.continue-reading i { margin-left: .5em; }

.taxonomy-description {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 22px;
    p {
    	margin: 0;
    }
}