.page .entry-title{
    margin-top: 2rem;
}
.related_posts {
    position: relative;
    max-width: 780px;
    width:100%;
    padding: 3rem 2rem;
    border-top: 1px solid #666;
    margin: 0 auto;
    ul { 
        list-style: none;
        text-align: center;
        margin: 0;
        padding:0;
        li {
            display: inline-block;
            width:200px;
                .related_thumb {
                    width: 200px;
                }// related_thumb
            }// li
    }// ul
    h2 {color:$lightGray;}
    h3 {font-size: 16px;}
}

/* Typography */
.entry-title {
    margin: 0 0 1rem;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3em;
    color: #000;
    color: hsl(0, 0%, 0%);
    a {
    	text-decoration: none;
    }
}// .entry-title
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin-bottom: 0; }

.entry-content h1 {
    font-size: 36px;
}

.entry-content h2 {
    font-size: 30px;
}

.entry-content h3 {
    font-size: 26px;
}

.entry-content h4 {
    font-size: 22px;
}

.entry-content h5 {
    font-size: 21px;
}

.entry-content h6 {
    font-size: 20px;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    font-size: 1.2rem;
    line-height: 1.6em;
}

.entry-content blockquote p {
    font-size: 24px;
    line-height: 1.5em;
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
    .entry-content {
        table {
            font-size: 1rem;}
        }
    .entry-title {
        font-size: 32px;
        line-height: 1.3em;
    }
    .entry-content h1 {
        font-size: 28px;
    }

    .entry-content h2 {
        font-size: 26px;
    }

    .entry-content h3 {
        font-size: 24px;
    }

    .entry-content h4 {
        font-size: 22px;
    }

    .entry-content h5 {
        font-size: 20px;
    }

    .entry-content h6 {
        font-size: 18px;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol  {
        font-size: 1rem;
    }
    
    .entry-content blockquote p {
        font-size: 18px;
        line-height: 1.5em;
    }
}// Media Query for fonts

// Category List
.category-list {
    margin: .5em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;

}

.category-list a {
    color: #333;
    color: hsl(0, 0%, 10%);
    text-decoration: none;
}

.category-list a:hover {
    color: #000;
    color: hsl(0, 0%, 0%);
}

// Meta / Skills

.entry-meta {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 2em;
}

.entry-meta ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.entry-meta li {
    display: inline-block;
    margin-right: .5em;
}

.entry-meta a {
    margin-left: .5rem;
    text-decoration: none;
}
.skills {
    display: none;
}

// Responsive Meta
@media screen and (min-width: 1320px){
    .single .entry-meta {
        width: 175px;
        position: absolute;
        top: 40px;
        right: 2rem;
        text-align: left;
        padding:0;
        li {
            display: block;
            margin-right: 0;
        }
    }
    .entry-content {
        
        max-width: 770px;
        min-height: 50px;
    }
    .skills {
        display: block;
    }
}

// Front page Skills
.entry-footer {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 2em;
}

.entry-footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.entry-footer li {
    display: inline-block;
    margin-right: 2.5em;
}

.entry-footer a {
    margin-left: .5rem;
    text-decoration: none;
}


// Pull images
/* Alignment responsive */
@media screen and (min-width: 1320px) {
    .alignright { 
        margin-right: -160px; 
    }
}

@media screen and (min-width: 1820px) {
    .alignleft {
        margin-left: -160px; 
    }
}
//
//
//

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
